<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
        <img src="" class="img-responsive" style="width:100%" alt="Image">
      <p>Airbnb exists to create a world where anyone can belong anywhere, providing healthy travel that is local, authentic, diverse, inclusive and sustainable. Airbnb uniquely leverages technology to economically empower millions of people around the world to unlock and monetize their spaces, passions and talents to become hospitality entrepreneurs.</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>--</p>
    </div>
    <div class="col-sm-4"> 
      <p>--</p>
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>