<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>--</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>--</p>
    </div>
    <div class="col-sm-4"> 
      <p>--</p>
    </div>
  </div>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <link rel="stylesheet" type="text/css" href="/public/stylesheets/a.css">
 
 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>--</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>--</p>
    </div>
    <div class="col-sm-4"> 
      <p>--</p>
    </div>
  </div>
</div>

<div class=”gallery”>
    <figure class=”gallery__item gallery__item--1">
      <img src="./images/a.jpg" class="gallery__img" alt="Image 1" height="300" weight="300">
    </figure>
    <figure class="gallery__item gallery__item--2">
      <img src="/images/gus-ruballo-128864-unsplash.jpg" class="gallery__img" alt="Image 2" height="300" weight="300">
    </figure>
    <figure class="gallery__item gallery__item--3">
      <img src="/images/ialicante-mediterranean-homes-475777-unsplash.jpg" class="gallery__img" alt="Image 3" height="500" weight="500">
    </figure>
    <figure class="gallery__item gallery__item--4">
      <img src="/images/jason-briscoe-332507-unsplash.jpg" class="gallery__img" alt="Image 4" height="300" weight="300">
    </figure>
    <figure class="gallery__item gallery__item--5">
      <img src="/images/jason-briscoe-332508-unsplash.jpg" class="gallery__img" alt="Image 5" height="300" weight="300">
    </figure>
    <figure class="gallery__item gallery__item--6">
      <img src="/images/jesse-roberts-146556-unsplash.jpg" class="gallery__img" alt="Image 6" height="300" weight="300">
    </figure>
  </div>

</html>
</body>
<% include partials/script %>
</html>
