<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <link rel="stylesheet" type="text/css" href="/public/stylesheets/a.css">
 
 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>--</p>
      
    </div>
    <div class="col-sm-4"> 
      <p>--</p>
    </div>
    <div class="col-sm-4"> 
      <p>--</p>
    </div>
  </div>
</div>




    <div class="gallery">
       
        <div class="gallery-item">
          <img class="gallery-image" src="/images/House 1/House 1.jpg" alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
          <p>There</p>
        </div>
    
        <div class="gallery-item">
          <img class="gallery-image" src="/images/naomi-hebert-188443-unsplash.jpg" alt="sunset behind San Francisco city skyline">
        </div>
    
        <div class="gallery-item">
          <img class="gallery-image" src="/images/House 1/Sitting Room 1.jpg" alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
        </div>
    
        <div class="gallery-item">
          <img class="gallery-image" src="/images/House 1/bathroom 1.jpg" alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
        </div>
    
        <div class="gallery-item">
          <img class="gallery-image" src="/images/House 1/bedroom 1.jpg" alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
        </div>
    
        <div class="gallery-item">
          <img class="gallery-image" src="/images/sarah-dorweiler-105892-unsplash.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
        </div>
        <div class="gallery-item">
            <img class="gallery-image" src="/images/jesse-roberts-146556-unsplash.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
          <p>here</p>
          </div>
          <div class="gallery-item">
              <img class="gallery-image" src="/images/jesse-roberts-146556-unsplash.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
            </div>
            
            <div class="gallery-item">
                <img class="gallery-image" src="/images/House 5/Kitchen5.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
                <p>Kitchen</p>
              </div>
              <div class="gallery-item">
                  <img class="gallery-image" src="/images/House 5/Sitting Room 5.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
                  <p>Kitchen</p>
                </div>
                <div class="gallery-item">
                    <img class="gallery-image" src="/images/naomi-hebert-188443-unsplash.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
                    <p>Kitchen</p>
                  </div>
                  <div class="gallery-item">
                      <img class="gallery-image" src="/images/House 5/Kitchen5.jpg" alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
                      <p>Kitchen</p>
                    </div>
    
      </div>
    
    </div>
</div>
</body>
<% include partials/script %>
</html>
