<section class="py-5" style="text-align: center";>
    <h1 class="display-3">
        Thank You
    </h1>
    <p class="lead">Your approval should be emailed to you within 24 hours</p>
    <a href="/" class="btn btn-dark btn-lg">Home</a>
</section>