<% layout('../layout') -%>
<!DOCTYPE html>

<h>Checkout page</h>
 <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_caJNqrg50TgGN8LhqK4bimWZ00kVW07OL1"
          data-amount="5000"
          data-name="segfault"
          data-description="By SegFault"
          data-image="/images/segfault.png"
          data-locale="auto"
          data-currency="zar">
        </script>
      </form> 